body{
   margin: 0;
    padding: 0;
    background: rgb(172, 171, 171);
    font-family: sans-serif;
}

.titulo{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}
.titulo h1{
    margin-right: 100px;
}

.box{
    width: 500px;
    margin:40px auto;          
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.foto{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

 img{
    width: 100%;
    display: block; 
}

.comentario{
    padding: 10px;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}
.fecha{
    color: lightgrey;

}